html {
    height: 100%;
}

body {
    height: 100%;
    margin: 5%;
    height: 100%;
}

/* Cart area style */
.cart {
    background: teal;
    height: 100%;
    width: 20%;
    position: absolute;
    left: 90%;
    top: 0;
    transform: translateX(-10%);
}
/* Package area style */
.menu {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    height: 100%;
    padding-right: 10%;
}

.packages {
    width: 30%;
    height: 30%;
}

