html {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    min-height: 100%;
    width: 100%;
    background-color: #EFEFEF;
    /* margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url("./lightslate.png"); */
}

header {
    padding: 10px;
    height: 100px;
    width: 200px;
    background-image: url("./vacatuslogo.png");
    background-size: cover;
}


/* Cart area style */

.cart {
    background: floralwhite;
    height: 100%;
    width: 40%;
    position: absolute;
    left: 90%;
    top: 0;
    transform: translateX(-10%);
}

#cart-header {
    font-size: 25px;
    color: #a9a9a9;
    border-bottom: 1px solid rgb(202, 202, 202);
    margin: 5px;
}

#pkg-in-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    font-size: 30px;
}

#pkg-in-cart>* {
    margin: 5px;
    font-size: 25px;
    border-top: 1px solid rgb(247, 209, 179);
}

#calculator {
    position: absolute;
    top: 50%;
}

#subtotal {
    margin: 5px;
    font-size: 20px;
}

#checkout {
    height: 30px;
    width: 40%;
    background-color: #FF3B3F;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: none;
}


/* Package area style */

.menu {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    height: 100%;
    margin-right: 15%;
    margin-left: 1%;
}

.packages {
    width: 30%;
    height: 60%;
    background-color: rgb(240, 240, 230);
}

h1 {
    text-align: center;
    margin-block-end: 0px;
    font-size: 45px;
    color: #1d4b55;
}

h3 {
    text-align: center;
    color: #FF3B3F;
    margin-block-start: 0px;
    margin-inline-start: 25px;
}

ul {
    padding-inline-start: 0px;
    text-align: center;
    list-style-type: none;
    font-size: 20px;
}

button {
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 15%;*/
    height: 40px;
    width: 95%;
    background-color: #1d4b55;
    color: white;
    border: none;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.image {
    /* width: 100%; */
    height: 360px;
    /* border-radius: 10px; */
    color: rgba(255, 255, 255, 0.74);
    font-size: 100px;
    text-align: center;
    line-height: 360px;
}

#bali-image {
    background-image: url("./bali.jpg");
    background-size: cover;
}

#sicily-image {
    background-image: url("./sicily.jpg");
    background-size: cover;
}

#alaska-image {
    background-image: url("./alaska.jpg");
    background-size: cover;
}


/* Package Add On Styling */

.addOnForm {
    position: relative;
    top: 40px;
    width: 275px;
    font-size: 20px;
}


/* Footer Styling */

footer {
    display: flex;
    justify-content: space-evenly;
}

.company-info {
    text-decoration: none;
    font-size: 40px;
    color: darkslategray;
    margin-bottom: 50px;
}

.company-info:hover {
    color: floralwhite;
}


/* Checkout Form */

.payment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 400px;
    height: 600px;
    background: floralwhite;
    border-radius: 20px;
}

.form-elements {
    display: flex;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-60%, -80%);
}

#card-image {
    height: 5%;
    width: 50%;
    margin: 20px;
    background-image: url("./creditCards.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#payment-type {
    visibility: hidden;
}

#cash-form {
    visibility: hidden;
}

#credit-form {
    visibility: hidden;
}

#receipt {
    visibility: hidden;
}