html {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    min-height: 100%;
    width: 100%;
    background-color: #EFEFEF;
    display: flex;
    flex-flow: wrap;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    height: 10%;
    width: 100%;
}

header>img {
    height: 100px;
}


/* Cart area style */

#shopping-cart {
    background: floralwhite;
    width: 25%;
}

#cart-header {
    font-size: 30px;
    color: #a9a9a9;
    margin: 5px;
    margin-bottom: 30px;
    width: 100%;
}

#cart-display {
    height: 80%;
}

#pkg-in-cart {
    font-size: 30px;
}

#pkg-in-cart>* {
    border-top: 1px solid rgb(247, 209, 179);
    margin-bottom: 20px;
    display: inline-flex;
}

.item-name {
    width: 70%;
}

.item-price {
    width: 30%;
}

.subtotal {
    margin: 5px;
    font-size: 30px;
    height: 60px;
}

#calculator {
    width: 100%;
}

#checkout {
    background-color: #FF3B3F;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: none;
    width: 100%;
    border: 2px solid floralwhite;
}


/* Package area style */

.menu {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    height: 100%;
    flex: 2;
    margin-right: 10px;
}

.packages {
    width: 30%;
    height: 60%;
    background-color: rgb(240, 240, 230);
}

h1 {
    text-align: center;
    margin-block-end: 0px;
    font-size: 45px;
    color: #1d4b55;
}

h3 {
    text-align: center;
    color: #FF3B3F;
    margin-block-start: 0px;
    margin-inline-start: 25px;
}

ul {
    padding-inline-start: 0px;
    text-align: center;
    list-style-type: none;
    font-size: 20px;
}

button {
    height: 40px;
    width: 95%;
    background-color: #1d4b55;
    color: white;
    border: none;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.image {
    height: 360px;
    color: rgba(255, 255, 255, 0.74);
    font-size: 50px;
    text-align: center;
    line-height: 725%;
    border: 2px solid #FF3B3F;
}

#bali-image {
    background-image: url("./bali.jpg");
    background-size: cover;
}

#sicily-image {
    background-image: url("./sicily.jpg");
    background-size: cover;
}

#alaska-image {
    background-image: url("./alaska.jpg");
    background-size: cover;
}


/* Package Add On Styling */

.pkg-add-ons {
    font-size: 20px;
}

.add-on-title {
    margin-top: 10px;
}

.add-on-input {
    margin-left: 10%;
}


/* Checkout Form */

.payment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 400px;
    height: 600px;
    background: floralwhite;
    border-radius: 20px;
}

#payment-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 400px;
    height: 200px;
}

.payment-header {
    margin-top: 10%;
    font-weight: bold;
    font-size: 26px;
    color: #1d4b55;
}

#proceed {
    background-color: #FF3B3F;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: none;
    width: 90%;
    margin: 5px;
    border: 2px solid floralwhite;
}

.form-elements {
    display: flex;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 60%;
}

#card-image {
    height: 5%;
    width: 60%;
    left: 45%;
    margin: 20px;
    background-image: url("./creditCards.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.summary {
    font-size: 30px;
    color: #1d4b55;
}

#payment-type {
    visibility: hidden;
}

#cash-form {
    visibility: hidden;
}

#credit-form {
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

#receipt {
    visibility: hidden;
}

.btn {
    background-color: #FF3B3F;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border: none;
    width: 60%;
    margin: 20px;
    border: 2px solid floralwhite;
    left: 45%;
}

#state {
    margin-top: 10%;
    font-weight: bold;
    font-size: 26px;
    color: #1d4b55;
}

#close {
    margin-top: 10%;
    font-weight: bold;
    font-size: 26px;
    background-color: #1d4b55;
    color: floralwhite;
}